<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Piwik</title>
</head>
<body>
<div th:fragment="cookieBanner">
  <div class="govuk-cookie-banner " role="region" aria-label="Cookies on Companies House services">
    <div id="cookie-banner" class="govuk-cookie-banner__message govuk-width-container">

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h2 class="govuk-cookie-banner__heading govuk-heading-m">Cookies on Companies House services</h2>

          <div class="govuk-cookie-banner__content">
            <p>We use some essential cookies to make this service work.</p>
            <p>We’d also like to use analytics cookies so we can understand how you use the service and make improvements.</p>
          </div>
        </div>
      </div>
      <div class="govuk-button-group">
        <button th:onclick="CookieConsent.acceptCookies()" type="button" class="govuk-button" data-module="govuk-button">
          Accept analytics cookies
        </button>
        <button th:onclick="CookieConsent.rejectCookies()" type="button" class="govuk-button" data-module="govuk-button">
          Reject analytics cookies
        </button>
        <a class="govuk-link" th:href="@{{chsUrl}/help/cookies(chsUrl=${@environment.getProperty('chs.url')})}">View cookies</a>
      </div>
    </div>

    <div id="govuk-cookie-banner__message" class="govuk-cookie-banner__message govuk-width-container" role="alert" hidden>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

          <div class="govuk-cookie-banner__content">
            <p>You’ve accepted analytics cookies. You can <a href="#">change your cookie settings</a> at any time.</p>
          </div>
        </div>
      </div>

      <div class="govuk-button-group">
        <button th:onclick="CookieConsent.hideBannerAlert()" class="govuk-button" data-module="govuk-button">
          Hide this message
        </button>
      </div>
    </div>
  </div>
</div>
<div th:fragment="piwikWithCookieCheck" class="govuk-visually-hidden">
  <script th:inline="javascript">
      function startPiwik() {
          bindPiwikListener([[${moduleName}]], /*[[${@environment.getProperty('piwik.url')}]]*/, /*[[${@environment.getProperty('piwik.siteId')}]]*/);
      }
  </script>
  <noscript>
    <p>
      <img th:src="@{{piwikUrl}/piwik.php?idsite={siteId}(piwikUrl=${@environment.getProperty('piwik.url')},
                             siteId=${@environment.getProperty('piwik.site.id')})}" style="border:0;" alt="" />
    </p>
  </noscript>
</div>
</body>
</html>