<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Piwik</title>
</head>
<body>
<div id="cookie-banner" th:fragment="cookieBanner">
  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-heading-m">Cookies on Companies House services</p>
        <p>We use some essential cookies to make our services work.</p>
        <p>We'd also like to use analytics cookies so we can understand how you use our services and to make improvements.</p>
        <a class="govuk-button govuk-!-margin-right-3" th:onclick="CookieConsent.acceptCookies()">Accept analytics cookies</a>
        <a class="govuk-button govuk-!-margin-right-3" th:onclick="CookieConsent.rejectCookies()">Reject analytics cookies</a>
        <a th:href="@{{chsUrl}/help/cookies(chsUrl=${@environment.getProperty('chs.url')})}">View cookies</a>
      </div>
    </div>
  </div>
</div>
<div th:fragment="piwikWithCookieCheck" class="govuk-visually-hidden">
  <script th:inline="javascript">
      function startPiwik() {
          bindPiwikListener([[${moduleName}]], /*[[${@environment.getProperty('piwik.url')}]]*/, /*[[${@environment.getProperty('piwik.siteId')}]]*/);
      }
  </script>
  <noscript>
    <p>
      <img th:src="@{{piwikUrl}/piwik.php?idsite={siteId}(piwikUrl=${@environment.getProperty('piwik.url')},
                             siteId=${@environment.getProperty('piwik.site.id')})}" style="border:0;" alt="" />
    </p>
  </noscript>
</div>
</body>
</html>